<%- include("header") %>

<body>
    <div class="box">
        <h1 id="heading"> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% tasks.forEach(task => { %>
        <form action="/delete", method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=task._id%>" onchange="this.form.submit()">
                <p> <%= task.name %> </p>
            </div>
        </form>
        <% }) %>
        <form class="item" action="<%=listRoute%>" method="post">
            <input type="text" name="task" placeholder="New Task" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>

</body>
<%- include("footer") %>

</html>